<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<style type="text/css">
			table {
				border-collapse: collapse;
				width: 80%;
				margin: 2px auto;
			}
			td {
				border: 1px solid red;
				padding: 1px 2px;
				text-align: center; 
			}
			.odd-row {
				background-color: yellow
			}
			.even-row {
				background-color: orange;
			}
		</style>
	</head>
	<body>
		<h1>Page 5</h1>
		<hr>
		<table>
			<tbody>
				<tr th:each=" area, status : ${areas}"
					th:classappend="${status.odd?'odd-row':'even-row'}">
					<td th:text="${status.index}">Index</td>
					<td th:text="${status.count}">Index</td>
					<td th:text="${area}">Index</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>